---
- name: Write Kong license
  template:
    src: license.json.j2
    dest: /etc/kong/license.json
    owner: kong
    group: kong
    mode: '600'
  become: yes
  when: license_data | length > 0
  notify:
    - Restart Kong

- name: Write Kong config file
  template:
    src: kong.conf.j2
    dest: /etc/kong/kong.conf
    owner: kong
    group: kong
    mode: '644'
  become: yes
  notify:
    - Restart Kong

- name: Create cluster cert dir
  file:
    path: "{{ cluster_cert_path | dirname }}"
    state: directory
    owner: kong
    group: kong
    mode: '755'
  when: role != "traditional"
  become: yes

- name: Write cluster cert
  template:
    src: cluster_cert.j2
    dest: "{{ cluster_cert_path }}"
    owner: kong
    group: kong
    mode: '600'
  when: role != "traditional"
  become: yes
  notify:
    - Restart Kong

- name: Create cluster cert key dir
  file:
    path: "{{ cluster_cert_key_path | dirname }}"
    state: directory
    owner: kong
    group: kong
    mode: '755'
  when: role != "traditional"
  become: yes

- name: Write cluster cert key
  template:
    src: cluster_cert_key.j2
    dest: "{{ cluster_cert_key_path }}"
    owner: kong
    group: kong
    mode: '600'
  when: role != "traditional"
  become: yes
  notify:
    - Restart Kong

- name: Init database
  command: /usr/local/bin/kong migrations bootstrap -c /etc/kong/kong.conf
  environment:
    KONG_PASSWORD: "{{ kong_super_admin_password }}"
  when: kong_table_count == "0" and role != "data_plane"
  become: yes

- name: Start Kong service, if not started
  ansible.builtin.service:
    name: kong-enterprise-edition
    enabled: yes
    state: started
  become: yes
